cite {
	float: right;
}
.my-nav {
	background: #fff;
	border: 1px solid transparent;
	-moz-border-image:url("../images/line.gif") 1 1 stretch; /* Old firefox */
	-webkit-border-image:url("../images/line.gif") 1 1 stretch; /* Safari */
	-o-border-image:url("../images/line.gif") 1 1 stretch; /* Opera */
	border-image:url("../images/line.gif") 1 1 stretch;
	border-top: 0;
	border-left: 0;
	border-right: 0;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a {
	background: #fff;
	font-weight: bold;
}
.navbar-nav {
	float: right;
}
.container>div {
	display: none;
}
