@font-face {
	font-family: 'social_services';
	src:url('../fonts/entypo-social.eot');
	src:url('../fonts/entypo-social.eot?#iefix') format('embedded-opentype'),
		url('../fonts/entypo-social.woff') format('woff'),
		url('../fonts/entypo-social.ttf') format('truetype'),
		url('../fonts/entypo-social.svg#entypo-social') format('svg');
	font-weight: normal;
	font-style: normal;
}
.social_service_icon {
	font-size: 28px;
	font-family: 'social_services';
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	color: #000;
	line-height: 1px;
}
nav {
	display: none;
}
cite {
	float: right;
}
.my-nav {
	background: #fff;
	border: 1px solid transparent;
	-moz-border-image:url("../images/line.gif") 1 1 stretch; /* Old firefox */
	-webkit-border-image:url("../images/line.gif") 1 1 stretch; /* Safari */
	-o-border-image:url("../images/line.gif") 1 1 stretch; /* Opera */
	border-image:url("../images/line.gif") 1 1 stretch;
	border-top: 0;
	border-left: 0;
	border-right: 0;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	background: #fff;
	font-weight: bold;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
	background: #fff;
	font-weight: bold;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
	background: #fff;
	font-weight: bold;
}
@media (min-width: 768px) {
	.navbar-nav {
		float: right;
	}
}
.container>div {
	display: none;
}
